<mat-toolbar color="primary" class="header">
  <a
    [name]="'homeLogoLink'"
    class="brand"
    [routerLink]="['/', RouteNames.HOME]"
  >
    <mat-icon>article</mat-icon>
    <span i18n="@@header.brand">Blog API</span>
  </a>

  <nav>
    <a
      [name]="'homeLink'"
      matButton
      [routerLink]="'/' + RouteNames.HOME"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
      <span i18n="@@header.nav.home">Home</span>
    </a>
    @if (isLoggedIn()) {
      <a
        [name]="'dashboardLink'"
        mat-button
        [routerLink]="'/' + RouteNames.DASHBOARD"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon>
        <span i18n="@@header.nav.dashboard">Dashboard</span>
      </a>
    }
  </nav>

  <div>
    <button
      matIconButton
      [matMenuTriggerFor]="userMenu"
      i18n-aria-label="@@header.user-menu.aria"
      aria-label="User menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      @if (isLoggedIn()) {
        <button
          [name]="'menuProfile'"
          mat-menu-item
          (click)="navigateTo(RouteNames.PROFILE)"
        >
          <mat-icon>person</mat-icon>
          <span i18n="@@header.menu.profile">Profile</span>
        </button>
      }
      <button
        [name]="'menuSettings'"
        mat-menu-item
        (click)="navigateTo(RouteNames.SETTINGS)"
      >
        <mat-icon>settings</mat-icon>
        <span i18n="@@header.menu.settings">Settings</span>
      </button>
      @if (isLoggedIn()) {
        <mat-divider></mat-divider>
        <button [name]="'menuLogout'" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span i18n="@@header.menu.logout">Logout</span>
        </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
