<app-dashboard-content-wrapper
  title="Blog Posts"
  i18n-title="@@blog.page-title"
>
  <button
    name="add-post"
    mat-fab
    color="primary"
    class="add-comment-btn"
    (click)="openDialog()"
    matTooltip="Add new post"
    i18n-matTooltip="@@blog.add-post-tooltip"
  >
    <mat-icon>add</mat-icon>
  </button>
  @if (!postsLoading()) {
    @for (post of posts(); track post.id) {
      @defer (on viewport) {
        <div class="blog-post-container">
          <app-blog-post [post]="post"></app-blog-post>
        </div>
      } @placeholder {
        <div class="loading-placeholder">
          <p i18n="@@blog.loading-post">Loading post...</p>
        </div>
      }
    } @empty {
      <div class="no-posts">
        <p i18n="@@blog.no-posts">No blog posts available.</p>
      </div>
    }
  } @else if (postsError()) {
    <div class="error">
      <p>{{ postsError() }}</p>
    </div>
  }
</app-dashboard-content-wrapper>
