<main class="home-container">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title><h1>Welcome to the Blog API</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This is a simple blog API. You can create, read, update, and delete blog
        posts.
      </p>
      <p>Use the navigation links to explore the API or manage your account.</p>
      @if (isLoggedIn()) {
        <p>
          You are logged in as <strong>XXX</strong>. You can manage your posts
          and profile.
        </p>
      } @else {
        <p>Please log in or register to create and manage your blog posts.</p>
      }
    </mat-card-content>
    <mat-card-actions>
      @if (!isLoggedIn()) {
        <button
          mat-raised-button
          color="primary"
          [routerLink]="'/' + RouteNames.LOGIN"
        >
          <mat-icon>login</mat-icon>
          Login
        </button>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="'/' + RouteNames.REGISTER"
        >
          <mat-icon>app_registration</mat-icon>
          Register
        </button>
      } @else {
        <button mat-raised-button color="warn" (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          Log Out
        </button>
      }
    </mat-card-actions>
  </mat-card>
</main>
