<mat-drawer-container class="dashboard-navigator-container">
  <mat-drawer mode="side" opened class="dashboard-drawer">
    <mat-divider></mat-divider>
    <mat-nav-list class="dashboard-nav-list">
      <a
        mat-list-item
        [routerLink]="'/' + RouteNames.DASHBOARD"
        routerLinkActive="active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
        class="dashboard-nav-item"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle i18n="@@dashboard-navigation.stats">Stats</span>
      </a>

      <a
        mat-list-item
        [routerLink]="'/' + RouteNames.DASHBOARD + '/' + RouteNames.USERS"
        routerLinkActive="active-nav-item"
        class="dashboard-nav-item"
      >
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle i18n="@@dashboard-navigation.authors"
          >Authors</span
        >
      </a>

      <a
        mat-list-item
        [routerLink]="'/' + RouteNames.DASHBOARD + '/' + RouteNames.BLOG"
        routerLinkActive="active-nav-item"
        class="dashboard-nav-item"
      >
        <mat-icon matListItemIcon>article</mat-icon>
        <span matListItemTitle i18n="@@dashboard-navigation.blog-posts"
          >Blog Posts</span
        >
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="dashboard-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
