<article class="blog-post">
  <header class="post-header-container">
    <div class="post-header">
      <h1 class="post-title">{{ post().title }}</h1>
      @if (post().authorId === currentUser?.id) {
        <button
          mat-icon-button
          color="warn"
          (click)="deletePost()"
          class="delete-btn"
          matTooltip="Delete post"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
    <div class="post-meta">
      <mat-chip disableRipple> By User {{ post().authorId }} </mat-chip>
      <mat-chip disableRipple>
        {{ post().createdAt | date: 'medium' }}
      </mat-chip>
      @if (post().updatedAt !== post().createdAt) {
        <mat-chip disableRipple>
          Updated {{ post().updatedAt | date: 'medium' }}
        </mat-chip>
      }
    </div>
  </header>
  <div class="post-content">
    <p class="post-text">{{ post().content }}</p>
  </div>
  <footer class="post-footer">
    <app-blog-post-comment [postId]="post().id"></app-blog-post-comment>
  </footer>
</article>
