<article class="blog-post">
  <header class="post-header-container">
    <div class="post-header">
      <h1 class="post-title">{{ post().title }}</h1>
      @if (canDeletePost()) {
        <button
          mat-icon-button
          color="warn"
          (click)="deletePost()"
          class="delete-btn"
          matTooltip="Delete post"
          i18n-matTooltip="@@blog-post.delete-tooltip"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
    <div class="post-meta">
      <mat-chip disableRipple>
        <ng-container i18n="@@blog-post.author-label"
          >User: {{ post().author.username }}</ng-container
        >
      </mat-chip>
      <mat-chip disableRipple>
        <ng-container i18n="@@blog-post.created-label"
          >Created: {{ post().createdAt | date: 'medium' }}</ng-container
        >
      </mat-chip>
      @if (wasUpdated()) {
        <mat-chip disableRipple>
          <ng-container i18n="@@blog-post.updated-label"
            >Updated: {{ post().updatedAt | date: 'medium' }}</ng-container
          >
        </mat-chip>
      }
    </div>
  </header>
  <div class="post-content">
    <p class="post-text" [innerHTML]="formattedContent()"></p>
  </div>
  <footer class="post-footer">
    <app-blog-post-comment [postId]="post().id"></app-blog-post-comment>
  </footer>
</article>
