<article class="blog-post">
  <header class="post-header-container">
    <div class="post-header">
      <h1 class="post-title">{{ post().title }}</h1>
    </div>
    <div class="post-meta">
      <mat-chip disableRipple>
        <ng-container i18n="@@blog-post.author-label"
          >User: {{ post().author.username }}</ng-container
        >
      </mat-chip>
      <mat-chip disableRipple>
        <ng-container i18n="@@blog-post.created-label"
          >Created: {{ post().createdAt | date: 'medium' }}</ng-container
        >
      </mat-chip>
      @if (wasUpdated()) {
        <mat-chip disableRipple>
          <ng-container i18n="@@blog-post.updated-label"
            >Updated: {{ post().updatedAt | date: 'medium' }}</ng-container
          >
        </mat-chip>
      }
    </div>
    <div class="vote-controls">
      <button
        mat-icon-button
        color="primary"
        (click)="vote(VoteEnum.LIKE)"
        [class.liked]="hasUserLikedPost()"
        matTooltip="Upvote"
        i18n-matTooltip="@@blog-post.upvote-tooltip"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        (click)="vote(VoteEnum.DISLIKE)"
        [class.disliked]="hasUserDislikedPost()"
        matTooltip="Downvote"
        i18n-matTooltip="@@blog-post.downvote-tooltip"
      >
        <mat-icon>thumb_down</mat-icon>
      </button>
      <span class="vote-count">{{ getVotesCount() }}</span>
    </div>
    <span i18n="@@blog-post.categories-label">Categories</span>
    <div class="categories-container">
      @for (category of post().categories; track $index) {
        <mat-chip class="category-chip" disableRipple>
          {{ category.name }}
        </mat-chip>
      }
    </div>
    <span i18n="@@blog-post.tags-label">Tags</span>
    <div class="tags-container">
      @for (tag of post().tags; track $index) {
        <mat-chip class="tag-chip" disableRipple>
          {{ tag.name }}
        </mat-chip>
      }
    </div>
  </header>
  <div class="post-content">
    <p class="post-text" [innerHTML]="formattedContent()"></p>
  </div>
  <footer class="post-footer">
    <app-blog-home-post-comment
      [postId]="post().id"
    ></app-blog-home-post-comment>
  </footer>
</article>
