<h1>Authors</h1>
@if (users.hasValue()) {
  @for (user of users.value(); track user.id) {
    <div>
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
      <p>Post Count: {{ getPostCountByAuthor(user.id) }}</p>
    </div>
  } @empty {
    <p>No authors yet.</p>
  }
} @else if (users.error()) {
  <div class="error">
    <p>Error loading authors: {{ users.error() }}</p>
  </div>
} @else if (users.isLoading()) {
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50"
    strokeWidth="5"
  ></mat-progress-spinner>
}
