<div class="followers-dialog">
  <header class="dialog-header">
    <h2>{{ dialogTitle }}</h2>
    <button type="button" class="close-btn" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-divider></mat-divider>
  <mat-dialog-content class="dialog-content">
    @if (dialogType === FollowersDialogType.FOLLOWERS) {
      <ul class="user-list">
        @for (user of followers(); track user.id) {
          <li class="user-row">
            <span class="username">{{ user.follower?.username }}</span>
            <span class="display-name">{{ user.follower?.email }}</span>
          </li>
        } @empty {
          <li class="user-row">
            <span class="display-name">No followers yet</span>
          </li>
        }
      </ul>
    } @else if (dialogType === FollowersDialogType.FOLLOWING) {
      <ul class="user-list">
        @for (user of following(); track user.id) {
          <li class="user-row">
            <span class="username">{{ user.following?.username }}</span>
            <span class="display-name">{{ user.following?.email }}</span>
          </li>
        } @empty {
          <li class="user-row">
            <span class="display-name">No following yet</span>
          </li>
        }
      </ul>
    }
  </mat-dialog-content>
</div>
