<app-dashboard-content-wrapper title="Stats" i18n-title="@@stats.page-title"
  ><div>
    @if (hasErrors() && !stats.isLoading()) {
      <div class="error">
        @if (stats.postsServiceError()) {
          <p i18n="@@stats.blog-error">
            Error loading blog stats: {{ stats.postsServiceError() }}
          </p>
        }
        @if (stats.userServiceError()) {
          <p i18n="@@stats.user-error">
            Error loading user stats: {{ stats.userServiceError() }}
          </p>
        }
      </div>
    }

    @if (!stats.isLoading() && !hasErrors()) {
      <app-stats-card />
    }</div
></app-dashboard-content-wrapper>
