<app-dashboard-content-wrapper title="Stats"
  ><div>
    @if (hasErrors() && !stats.isLoading()) {
      <div class="error">
        @if (stats.blogServiceError()) {
          <p>Error loading blog stats: {{ stats.blogServiceError() }}</p>
        }
        @if (stats.userServiceError()) {
          <p>Error loading user stats: {{ stats.userServiceError() }}</p>
        }
      </div>
    }

    @if (!stats.isLoading() && !hasErrors()) {
      <app-stats-card />
    }</div
></app-dashboard-content-wrapper>
