@import '../shared/styling-utils/animations.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header button[matIconButton] {
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color 0.2s ease;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.brand:hover .brandIcon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
  animation: flip 0.8s ease-in-out;
}

.user-menu-button:hover {
  animation: rotation 0.8s ease-in-out;
}
